.slick-prev:before, .slick-next:before {
   color: rgba(10, 10, 10, 0.438) !important;
   font-size: 40px !important;
}
.slick-arrow{
    height: 50px !important;
    width: 50px !important;
}
.сard_3{
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-wrap: wrap;
  
}